// Define vertical, horizontal, or both position
@mixin center($position: 'b', $inject: null) {
  position: absolute;

  @if $position == 'v' {
    top: 50%;

    transform: translateY(0, -50%, 0) #{$inject};
  } @else if $position == 'h' {
    left: 50%;

    transform: translate3d(-50%, 0, 0) #{$inject};
  } @else if $position == 'b' {
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0) #{$inject};
  }
}
