// Add your font import here

body {
  font-family: var(--f--font-family-primary);
  font-size: var(--f--font-size);
  line-height: var(--f--line-height);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.intro,
.para,
.para-small,
.ul,
.ol,
.quote {
  display: block;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.p,
.p-small,
.ul,
.ol {
  max-width: $mw-text;
}

.ul li,
.ol li {
  &:last-child {
    margin-bottom: 0;
  }
}

.h1 {
  @extend %h1;
}
.h2 {
  @extend %h2;
}
.h3 {
  @extend %h3;
}
.h4 {
  @extend %h4;
}
.h5 {
  @extend %h5;
}
.h6 {
  @extend %h6;
}

.intro {
  @extend %intro;
}
.para {
  @extend %p;
}
.para-small {
  @extend %p-small;
}

.quote {
  @extend %quote;
}

.ul {
  @extend %ul;
}
.ul li {
  @extend %ul-li;
}

.ol {
  @extend %ol;
}
.ol li {
  @extend %ol-li;
}

.link {
  @extend %link;
}

.link-inline {
  @extend %link;
  @extend %link-inline;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.para,
.quote,
.blockquote,
.ul,
.ol {
  &:last-child {
    margin-bottom: 0;
  }
}
